body{
    background-color: #303F9F;
}
.container{
    height: 600px;
    margin-top: 0%;
}
.menu{
    width:100%;
    top:0;
    left:0;
    right:0;
    height:15%;
    text-align:center;
    background-color:white;
    display: block;
    font-family: 'Kanit';
    color:#303F9F;
    position: fixed;
}

ol {
    list-style-type:none;
    padding:0;
    font-size:90%;
    height:5em;
    line-height:2em;
    text-align:center;
    font-family: 'Kanit';
    
  }
  ol > li {
    float:left;
    background-color:white;
    margin-left:0.5em;
    width:60%;
    height:2em;
  }
  ol a {
    display:block;
    color:#000;
    text-decoration:none;
    padding:0 0.5em;
  }

  ol > li > a:hover {
    color:#303F9F;
    font-weight: bold;
  }
  ol > li > ul {
    list-style-type:none;
    padding:0;
    margin:0;
  }
  ol > li {
    float:left;
    background-color:white;
    width:16%;
    margin-left:0.2em;
  }
  
  ol > li:first-child {
    margin-left:0;
  }
  
ol > li > ul > li > a {
    border-top:0.5em solid #FFF;
  }

  ol {
    background-color:#FFF;
  }
  
  ol > li > ul > li {
    background-color:#EEE;
    position:relative;
  }
  
  ol > li > ul > li:hover {
    background-color:#DDD;
  }
  
  ol > li > ul > li:hover a {
    font-weight: bold;
  }
  ol > li > ul {
    display:none;
  }
  
  ol > li:hover > ul {
    display:block;
  }

  .main{
      float: left;
      margin-top: 20%;
      margin-left: 20%;
      margin-right: 20%;
      padding: 2em;
      line-height:2em;
      background-color: white;
      border-radius: 2em;
      font-family: 'Kanit';
      font-size: 1em;
      text-align: left;
      margin-bottom: 5%;
  }
dl{
  text-align: left;
}
dt{
  font-weight: bold;
}

a{
  color: #303F9F;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
}

img{
  width: 95%; 
  margin-left: 0.2em; 
  border-radius: 2em; 
  border: solid 0.2em#303F9F;
}

.s1{
  width: 45%; 
  height: 10em;
  margin-left: 0.2em; 
  background-color: crimson;
  text-align: center;
  float: left;
  margin-left: 20px;
}
.s2{
  width: 45%; 
  height: 10em;
  margin-left: 0.2em; 
  background-color: green;
  text-align: center;
  float: left;
  font-weight: bold;
}
.s3{
  width: 45%; 
  height: 10em;
  margin-top: 0.2em;
  margin-left: 0.2em; 
  background-color: cyan;
  text-align: center;
  float: left;
  font-weight: bold;
  margin-left: 20px;
}
.s4{
  width: 45%; 
  height: 10em;
  margin-top: 0.2em;
  margin-left: 0.2em; 
  background-color: yellow;
  text-align: center;
  float: left;
  font-weight: bold;
}